.imgBox{
  padding-bottom: 20px;
  margin: 0 15px;
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
}

.imgBox a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  background-color: var(--white-text-color);
  transition: all .5s;
  overflow: hidden;
}

.imgBox a img{
  width: 85%;
  height: 85%;
  object-fit: contain;
  display: block;
  pointer-events: none;
  transition: all .5s;
}

.imgBox:hover a img{
  /* opacity: 0; */
  transition: all .5s;
}

.imageIndicator{
  margin-top: 30px;
  background: transparent;
}

/* .imageWrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 0 -15px; */

.indicatorItem{
  padding: 0 15px;
}
.btn::before{
  display: none;
}

.btn{
  z-index: 2;
  top: 140px;
  width: 30px;
  height: 30px;
  background:transparent;
  color: var(--sub-text-color);
  font-size: 14px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.1);
}
.btn:hover{
  color: var(--sub-text-color);
}
.btn:focus{
  color: var(--sub-text-color);
}
.btnLeft{
  left: calc(50% - 50px);
}

.btnRight{
  right: calc(50% - 50px);
}