
.navMiddle {
  padding: 30px 0;
}

.navLogo {
  display: block;
}

.navCartToggle {
  font-family: var(--font-family);
  color: var(--blue-bg-color);
  font-size: var(--font-0-875);
  font-weight: var(--bold-4);
  text-transform: uppercase;
}

.navCartToggle:hover {
  color: var(--blue-bg-color);
}

.navCartToggle span {
  margin-left: 3px;
}